TestingOrg/force-app/main/default/flows/Update_Order_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Evaluate_number_of_items</name>
        <label>Evaluate number of items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Has_items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Items__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Fields</targetReference>
            </connector>
            <label>Has items?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FiveDays</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <interviewLabel>Update Order Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Order Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update status and dates</description>
        <name>Update_Order_Fields</name>
        <label>Update Order Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Order_End_Date__c</field>
            <value>
                <elementReference>FiveDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_number_of_items</targetReference>
        </connector>
        <object>Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
